<section class="blog-banner">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1605213605677-861baf60c228?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80);">
    <div class="container">
      <h1>Lorem <strong>ipsum</strong> dolor <strong>sit amet consectetur</strong>!</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ipsa tempore sint ipsum itaque, doloribus cupiditate? Laboriosam error quis nam maxime.</p>
    </div>
  </div>
</section>

<main class="container">
  <h1 id="anchor-tag" class="text-center mt-5 mb-5">Read <span id="span-logo" class="span-logo-container">BERGIN</span> 's Unique Blog Posts</h1>
  <div class="text-center mb-5">
    <% ActsAsTaggableOn::Tag.all[0..10].each do |tag| %>
      <%= link_to tag, articles_path(tag: tag.name, anchor: "anchor-tag" ), class: "btn-taggable article-btn d-inline-block mb-3" %>
    <% end %>
  </div>

  <div class="row">
    <% @articles.each do |article| %>
      <div class="col-12 col-sm-8 col-md-6 col-lg-4 mb-5">
       <%= link_to article_path(article) do  %>
        <div class="card">
          <%= cl_image_tag article.photos[0].key, class: "card-img", alt: "#{article.title} Picture"  %>
          <div class="card-img-overlay">
            <button class="tag-btn"><%= article.tag_list %></button>
          </div>
          <div class="card-body">
            <h4 class="card-title"><%= article.title %></h4>
            <p class="card-text mb-3">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <%= link_to "Continue reading", article_path(article), class: "blog-btn" %>
          </div>
          <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
            <div class="views"><%= article.created_at.strftime('%a, %d %b %Y') %></div>
            <div>
              <i class="fas fa-feather-alt"></i> <%= article.author %>
            </div>
          </div>
        </div>
       <% end %>
      </div>
    <% end %>
  </div>
</main>
