<div class="d-flex justify-content-center flex-wrap">
  <% @tours.shuffle.each do |tour| %>
    <div class="card-trip card-links m-4 mb-4 px-0 py-0">
      <%= link_to tour_path(tour) do  %>
        <%= cl_image_tag tour.photos[0].key, class: "card-tour-img", alt: "#{tour.title} Picture"  %>
        <div class="card-trip-infos">
          <h2 class="mb-2"><%= tour.title %></h2>
          <p class="mb-2"><%= tour.description %></p>
          <div class="d-flex justify-content-between icon">
            <div class="mt-2">
              <i class="far fa-clock mr-3"><span> <%= tour.duration %></span></i>
              <i class="fas fa-bolt mr-3"><span> <%= tour.tag_text %></span></i>
              <i class="fas fa-user mr-2"><span> <%= tour.group_size %></span></i>
            </div>
            <div>
              <h5 class="mt-2 font-weight-bold"><%= humanized_money_with_symbol(tour.price) %></h5>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
