<section class="large lg-img-container">
  <article class="container__item">
    <%= cl_image_tag @tour.photos[0].key, class: "card-tour-img", alt: "#{@tour.title} Picture"  %>
  </article>
  <article class="container__item">
    <%= cl_image_tag @tour.photos[1].key, class: "card-tour-img", alt: "#{@tour.title} Picture"  %>
  </article>
  <article class="container__item">
    <%= cl_image_tag @tour.photos[2].key, class: "card-tour-img", alt: "#{@tour.title} Picture"  %>
  </article>
  <article class="container__item">
    <%= cl_image_tag @tour.photos[3].key, class: "card-tour-img", alt: "#{@tour.title} Picture"  %>
  </article>
  <article class="container__item">
    <%= cl_image_tag @tour.photos[4].key, class: "card-tour-img", alt: "#{@tour.title} Picture"  %>
  </article>
</section>
