<main>
  <section>
    <div class="container">
      <%= simple_form_for [@tour, @booking] do |t| %>
        <%= t.input :start_date, required: :true, label: 'Select your tour start date' %>
        <%= t.input :first_name, required: :true, label: 'First Name' %>
        <%= t.input :last_name, required: :true, label: 'Last Name' %>
        <%= t.input :number_of_adult, required: :true %>
        <%= t.input :number_of_children, required: :true %>
        <%= t.input :number_of_infant, required: :true %>
        <%= t.input :language, required: :true, label: 'Prefered Language' %>
        <%= t.input :mobile_number, as: :tel, required: :true, label: 'Contact Number' %>
        <%# <%= t.input :total_price %>
        <%= t.submit "Confirm Your Booking", class: "btn btn-outline-success btn-sm" %>
      <% end %>
      <%= link_to "Back to Main Page", tours_path, class: "btn btn-outline-warning btn-sm" %>
    </div>
  </section>
</main>
