<header>
  <nav class="navbar nav-bar-blue nav-scroll navbar-expand-lg navbar-light">
        <div class="logo-container">
        <%= link_to "Bergin Tours", root_path, class: "navbar-brand text-white" %>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <%= link_to "Blog", articles_path, class: "nav-link text-white font-weight-bold" %>
        </li>
        <li class="nav-item">
          <%= link_to "About Us", about_us_path, class: "nav-link text-white font-weight-bold" %>
        </li>
        <li class="nav-item">
          <%= link_to "Services", tours_path(anchor: "anchor-tag"), class: "nav-link text-white font-weight-bold" %>
        </li>
      </ul>
      <div class="profile-container">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <% if current_user.nil? %>
            <li>
              <%= link_to "Log In", new_user_session_path, class: "pr-4 text-white" %>
              <button class="btn-signup mr-4"><%= link_to "Sign Up", new_user_registration_path %></button>
            </li>
          <% else %>
            <li>
              <button class="btn-signup mr-4 pr-4 pl-4"><%= link_to(cart_path(@user_cart)) do %>
                <i class="fas fa-shopping-cart"> <span class="size-shopping">( <%= @user_cart.bookings.size %> )</span></i><% end %></button>
              <%= link_to "Profile", dashboard_path, class: "mr-4 text-white" %>
              <%= link_to "Log Out", destroy_user_session_path,method: :delete, class: "mr-4 text-white" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
