<div class="navbar-wagon <%= yield(:navbar_class) %>">
  <nav class="container">
    <div class="logo-container">
    </div>
    <div class="nav-list">
      <ul>
        <li><%= link_to "Covid-19 Update" %></li>
        <li><%= link_to "Blog" %></li>
        <li><%= link_to "Why Us?" %></li>
        <li><i class="mr-1 fas fa-shopping-cart"></i><%= link_to "Cart" %></li>
        <li><%= link_to "Log In" %></li>
      </ul>
    </div>
  </nav>
</div>
