<header>
  <nav>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div class="social-icons">
        <i class="fab fa-whatsapp"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-tripadvisor"></i>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <% if current_user.nil? %>
            <li class="nav-item">
              <%= link_to "Log In", new_user_session_path %>
              <%= link_to "Sign Up", new_user_registration_path %>
            </li>
          <% else %>
            <li class="d-flex justify-content-between nav-item active">
              <%= link_to "Cart (#{@user_cart.bookings.size})", cart_path(@user_cart), class: "nav-link" %>
              <%= link_to "Profile", dashboard_path, class: "nav-link effect-underline" %>
              <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
