<main>
  <section class="banner">
  </section>
  <article class="container">
    <div class="row">
      <div class="col-lg-4 text-center">
        <i class="far fa-thumbs-up"></i>
        <h5>Free cancellation</h5>
        <p>Don't stress if your plans change. Cancel up to 24 hours before your activity starts for a full refund.</p>
      </div>
      <div class="col-lg-4 text-center">
        <i class="fas fa-meteor"></i>
        <h5>Faster access</h5>
        <p>Skip the long ticket lines and get straight to the good stuff in the places everyone wants to visit.</p>
      </div>
      <div class="col-lg-4 text-center">
        <i class="far fa-heart"></i>
        <h5>Friendly help</h5>
        <p>We're standing by 24/7 to make your experience incredible. Reach us by phone, email, or WhatsApp.</p>
      </div>
    </div>
  </article>
  <section>
    <div class="container">
      <h1 class="text-center mt-5 mb-5">Explore Our Top Destinations</h1>
      <div class="text-center mb-5">
        <% ActsAsTaggableOn::Tag.all.each do |tag| %>
          <%= link_to tag, tours_path(tag: tag.name), class: "btn-taggable mr-3 mb-5" %>
        <% end %>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <% @tours.each do |tour| %>
          <div class="card col-lg-3">
            <div class="tour-card">
              <% tour.photo.attached? ? @image = "//res.cloudinary.com/apak/image/upload/#{tour.photo.key}": @image = tour.image_scr %>       
              <%= cl_image_tag tour.photo.key, class: "card-img", alt: "#{tour.title} Picture"  %>
              <h6 class="guided"><%= tour.tag_text %></h6>
              <h2> <%= link_to tour.title, tour_path(tour) %></h2>
              <h5><%= tour.description %></h5>
              <div class="icon">
                <i class="far fa-clock"> <span><%= tour.duration %> </span></i><br>
                <i class="fas fa-running"> <span>Skip the line</span></i><br>
                <i class="fas fa-user-friends"> <span><%= tour.group_size %> </span></i>
              </div>
              <div class="prices">
                <span class="from">From</span>
                <span class="price"><i class="fas fa-euro-sign"></i> <%= tour.price %></span>
                <span class="person">per person</span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</main>
