<main>
  <section class="banner">
  </section>
  <article class="container">
    <div class="row">
      <div class="col-lg-4 text-center">
        <i class="far fa-thumbs-up"></i>
        <h5>Free cancellation</h5>
        <p>Don't stress if your plans change. Cancel up to 24 hours before your activity starts for a full refund.</p>
      </div>
      <div class="col-lg-4 text-center">
        <i class="fas fa-meteor"></i>
        <h5>Faster access</h5>
        <p>Skip the long ticket lines and get straight to the good stuff in the places everyone wants to visit.</p>
      </div>
      <div class="col-lg-4 text-center">
        <i class="far fa-heart"></i>
        <h5>Friendly help</h5>
        <p>We're standing by 24/7 to make your experience incredible. Reach us by phone, email, or WhatsApp.</p>
      </div>
    </div>
  </article>
  <section>
    <div class="container">
      <div class="text-center">
        <% ActsAsTaggableOn::Tag.all.each do |tag| %>
          <%= link_to tag, tours_path(tag: tag.name), class: "btn btn-sm btn-success mr-5" %>
        <% end %>
      </div>
      <div class="row">
        <% @tours.each do |tour| %>
          <div class="card col-lg-3 m-4">
            <% tour.photo.attached? ? @image = "//res.cloudinary.com/apak/image/upload/#{tour.photo.key}": @image = tour.image_scr %>
            <%= cl_image_tag tour.photo.key, class: "card-img-top", alt: "#{tour.title} Picture"  %>
            <div class="card-body">
              <h5 class="card-title"><%= tour.title %></h5>
              <p class="card-text"><%= tour.description %></p>
              <%= link_to "Show Details", tour_path(tour) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</main>
