<%= content_for :nav, render("shared/navbar") %>
<main>
  <section>
    <%= render 'carousel' %>
  </section>

  <article class="container mb-5 mt-2">
    <%= render 'tours/folder/whyUs' %>
  </article>

  <section>
    <%= render 'trusted_by' %>
  </section>
  
  <section>
    <%= render 'taggable' %>

    <%= render 'card' %>

  </section>
</main>
