<section>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/60533714067c2605c0b9c9c1/1f12gua42';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</section>
<%= content_for :nav, render("shared/navbar") %>
<main>
  <section>
    <%= render 'tours/partials/carousel' %>
  </section>

  <article class="container mb-5 mt-2">
    <%= render 'tours/partials/whyUs' %>
  </article>

  <section>
    <%= render 'tours/partials/trusted_by' %>
  </section>

  
  <section>
    <%= render 'tours/partials/taggable' %>

    <%= render 'tours/partials/card' %>

  </section>
</main>
