<main>
  <section>
    <div class="container d-lg-flex">
      <div class=" mt-5">
        <h1><%= @tour.title %></h1>
        <%= cl_image_tag @tour.photo.key, input_html: { multiple: true }, class: "card-img-top", alt: "#{@tour.title} Picture"  %>
      </div>
      <div class=" mt-5 ml-5">
        <h2 class="mb-3">About this tour</h2>

        <div>
          <p><i class="far fa-credit-card"></i> Free Cancellation <br> <span>Cancel anytime for a full refund</span></p>
        </div>

        <div>
          <p><i class="fas fa-virus"></i> COVID-19 Precautions <br> <span>Special healt and safety measures apply.</span></p>
        </div>

        <div>
          <p><i class="fas fa-skiing"></i> Skip the line <br> <span>Skip the line through separate entrance.</span></p>     
        </div>

        <div>
          <p><i class="fas fa-headphones"></i> Audio Guide | Headphones <br> <span>Spanish, Korean, Chinese, Italian, Russian, German, Hindi, Arabic</span></p> 
        </div>
      </div>
    </div>
  </section>

  <div class="container d-flex">
    <%= link_to "Back to Main Page", tours_path, class: "btn btn-warning mr-4" %>
    <%= link_to "Make a booking", new_tour_booking_path(@tour), class: "btn btn-success" %>
  </div>

  <div class="container">
    <div id="reviews">
      <% if @tour.reviews.blank? %>
        Be the first to leave a review for <%= @tour.title %>
      <% else %>
        <% @tour.reviews.each do |review| %>
          <p id="review-<%= review.id %>"><%= review.rating %><%= review.title %></p>
          <p id="review-<%= review.id %>"><%= review.content %></p>
        <% end %>
      <% end %>
      
      <% if @booking %>
        <%= simple_form_for([@booking, @review], remote: true) do |f| %>
          <%= f.input :title, placeholder: 'Highlight the experience' %>
          <%= f.input :content, placeholder: 'Rate your experience' %>
          <%= f.input :rating, collection: (0..5) %>
          <%= f.submit "Submit", class: "btn btn-sm btn-success" %>
        <% end %>
      <% end %>
    </div>
  </div>
</main>
