<main>
  <section>
    <div class="container">
      <h1 class="pt-4 pb-4"><%= @tour.title %></h1>
      <div class="row">
        <div class="col-lg-7">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <% @tour.photos.each.with_index(0) do |post, index| %>
                <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= index.zero? ? 'active' : '' %>"></li>
              <% end %>
            </ol>
            <div class="carousel-inner">
              <% @tour.photos.each.with_index(0) do |photo, index| %>
                <div class="carousel-item <%= index.zero? ? 'active' : '' %>">
                  <%= cl_image_tag photo.key, class: "show-page-img", alt: "#{@tour.title} Picture"  %>
                </div>
              <% end %>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="col-lg-5 pl-4 pt-3">
          <h2 class="mb-3">About this tour</h2>

          <div>
            <p><i class="far fa-credit-card"></i> Free Cancellation <br> <span>Cancel anytime for a full refund</span></p>
          </div>
          <div>
            <p><i class="fas fa-virus"></i> COVID-19 Precautions <br> <span>Special healt and safety measures apply.</span></p>
          </div>
          <div>
            <p><i class="fas fa-skiing"></i> Skip the line <br> <span>Skip the line through separate entrance.</span></p>     
          </div>
          <div>
            <p><i class="fas fa-headphones"></i> Audio Guide | Headphones <br> <span>Spanish, Korean, Chinese, Italian, Russian, German, Hindi, Arabic</span></p> 
          </div>
          <div>
            <%= link_to "Back to Main Page", tours_path, class: "btn btn-warning mr-4" %>
            <%= link_to "Make a booking", new_tour_booking_path(@tour), class: "btn btn-success" %> 
          </div>
        </div>      
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container mt-3 mb-3">
      <div id="reviews">
        <% if @tour.reviews.blank? %>
          <p class="mb-3">Be the first to leave a review for <strong><%= @tour.title %></strong></p>
        <% else %>
          <% @tour.reviews.each do |review| %>
            <p class="review-title p-3" id="review-<%= review.id %>"> <%= review.user.email %> <br> <% review.rating.times do %>
              <i class="fas fa-star"></i>
            <%end%> <br><%= review.title %></p>
            <p class="review-content p-3" id="review-<%= review.id %>"><%= review.content %></p>
          <% end %>
        <% end %>

        <% if @booking %>
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <%= simple_form_for([@booking, @review], remote: true) do |f| %>
                <strong><%= f.input :title, label: 'Highlight the experience' %></strong>
                <strong><%= f.input :content, label: 'Content' %></strong>
                <strong><%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %></strong>
                <%= f.submit "Send Your Review", class: "btn btn-success" %>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </section>
</main>
