<main class="show-tour-container">
  <section>
    <div class="container mb-5">
      <h1 class="pt-4 pb-4 text-center"><%= @tour.title %></h1>
      <nav aria-label="breadcrumb">
        <ol class="d-flex list-inline">
          <li class="breadcrumb-item"><%= link_to "Home Page", root_path %></li>
          <li class="breadcrumb-item active" aria-current="page"><%= @tour.title %></li>
        </ol>
      </nav>
      
      <div class="row">
        <div class="col-md-12">
          <%= render 'tours/partials/show_carousel' %>
          <%= render 'tours/partials/large_screen_img' %>
        </div>        
        </div>
      </div>
      <div class="container"> 
      <hr class="mb-5">   
        <div class="row">
          <%= render 'tours/partials/aboutThisTour' %>
          <div class="col-md-7">
            <div class="form-container p-4">
              <div class="my-3 text-center" id="form-total-price" data-price="<%= @tour.price %>">
                <h3>Total Price: <span id="display-total-price"><%= @tour.price %> USD</span></h3>
              </div>
              <%= render 'bookings/form', tour: @tour %>
            </div> 
          </div>
        </div>
        <hr class="mb-4 mt-5">
      </div>
    </div>
  </section>
 
  <section class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="pt-2 pb-2 tour-title-show"><%= @tour.title %></h3>
        <%= render 'tours/partials/accordion' %>
        <br>
        <%# <%= @tour.schedule.html_safe %>
        <%= @tour.schedule.html_safe %>
        <hr>
        <div class="inc-container d-flex">
          <div class="mr-5"><p>Included</p></div>
            <%= @tour.include.html_safe %>
        </div>
        <div class="exc-container d-flex">
          <div class="mr-5"><p>Excluded</p></div>
            <%= @tour.exclude.html_safe %>
        </div>
        <hr>
      </div>
    </div>
  </section>
  <section>
  <div class="mt-3 mb-3">
    <h1 class="text-center">You may also like</h1>
    <div class="d-flex justify-content-center flex-wrap">
      <% @tours.shuffle[0..2].each do |tour| %>
        <div class="card-trip card-links m-4 mb-4 px-0 py-0">
          <%= link_to tour_path(tour) do  %>
            <%= cl_image_tag tour.photos[0].key, class: "card-tour-img", alt: "#{tour.title} Picture"  %>
            <div class="card-trip-infos">
              <h2 class="mb-2"><%= tour.title %></h2>
              <p class="mb-2"><%= tour.description %></p>
              <div class="d-flex justify-content-between icon">
                <div class="mt-2">
                  <i class="far fa-clock mr-3"><span> <%= tour.duration %></span></i>
                  <i class="fas fa-bolt mr-3"><span> <%= tour.tag_text %></span></i>
                  <i class="fas fa-user mr-2"><span> <%= tour.group_size %></span></i>
                </div>
                <div>
                  <h5 class="mt-2 font-weight-bold"><%= humanized_money_with_symbol(tour.price) %></h5>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  </section>

  <section>
    <div class="container mt-3 mb-3">
      <h3>Reviews from our clients</h3>
      <div id="reviews">
        <% if @tour.reviews.blank? %>
          <p class="mb-3">Be the first to leave a review for <strong><%= @tour.title %></strong></p>
        <% else %>
          <% @tour.reviews.each do |review| %>
            <p class="review-title p-3" id="review-<%= review.id %>"> <%= review.user.email %> <br> <% review.rating.times do %>
              <i class="fas fa-star"></i>
            <%end%> <br><%= review.title %> <br> <%= review.content %></p>
          <% end %>
        <% end %>

        <% if @booking %>
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <%= simple_form_for([@booking, @review], remote: true) do |f| %>
                <strong><%= f.input :title, label: 'Highlight the experience' %></strong>
                <strong><%= f.input :content, label: 'Content' %></strong>
                <strong><%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %></strong>
                <%= f.submit "Send Your Review", class: "btn btn-success" %>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </section>
</main>
