<main class="container">
  <div class="row">
    <div class="card mt-5 col-lg-12 mb-3" style="min-width: 14rem;">
      <div class="card-header">
        <h1 class="text-center">Current bookings: Tours I booked</h1>
      </div>
      <div class="card-body">
        <% if @user_current_bookings.present? %>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Booking ID#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Start date</th>
              </tr>
            </thead>
            <tbody>
              <% @user_current_bookings.each do |booking| %>
                <tr>
                  <th scope="row"><%= booking.id %></th>
                  <td><%= @user_current_bookings_hash["#{booking.id}"][0].title %></td>
                  <td><%= @user_current_bookings_hash["#{booking.id}"][0].price %> AUD</td>
                  <td><%= booking.start_date.strftime('%m/%d/%Y') %></td>
                </tr>
               <%end%>
            </tbody>
          </table>
        <% else %>
          <p class="text-center">You do not have any current bookings</p>
        <% end %>
    </div>
  </div>
</main>
<section>
  <div class="text-center">
    <%= link_to "Home Page", tours_path, class: "btn btn-lg btn-info mr-3" %>
    <%= link_to "Book for another tour", root_path, class: "btn btn-lg btn-warning" %>
  </div>
</section>
