<main class="cart-main-container">
  <section>
    <div class="container">
      <div class="row">
        <div class="card mt-5 col-lg-8 mb-3" style="min-width: 14rem;">
          <div class="my-4">
            <h1>Your Shopping Cart</h1>
            <p>Thanks for your booking <strong><%= current_user.email %></strong></p>
          </div>
          <div class="promotion-code my-1">
            <div><label class="h4" for="promo-code">Enter a promotional code</label></div>
            <input id="promo-code" type="text" name="promo-code" maxlength="8" class="promo-code-field">
            <%= link_to "Apply", discount_path(@cart), class: "ml-3 btn btn-success", method: :patch %>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Tour</th>
                  <th scope="col">Tour Name</th>
                  <th scope="col">Pax</th>
                  <th scope="col">Start date</th>
                  <th scope="col">Total Price</th>  
                </tr>
              </thead>
              <tbody>
                <% @cart.bookings.each do |booking| %>
                  <tr>
                    <th scope="row"><%= cl_image_tag booking.tour.photos[0].key, class: "cart-page-img", alt: "#{booking.tour.title} Picture"  %></th>
                    <td><%= booking.tour.title %></td>
                    <td><% if booking.number_of_children.to_i > 0 && booking.number_of_infant.to_i > 0 %>
                          <%= booking.number_of_adult %> adult +<%= booking.number_of_children %> children + <%= booking.number_of_infant %> infant
                        <% elsif booking.number_of_children.to_i == 0 && booking.number_of_infant.to_i == 0 %>
                          <%= booking.number_of_adult %> adult
                        <% elsif booking.number_of_children.to_i > 0 && booking.number_of_infant.to_i == 0  %>
                          <%= booking.number_of_adult %> adult + <%= booking.number_of_children %> children
                        <% elsif booking.number_of_adult.to_i > 0 && booking.number_of_children.to_i == 0 %>
                          <%= booking.number_of_adult %> adult + <%= booking.number_of_infant %> infant
                        <% end %>
                        </td>
                    <td><%= booking.start_date.strftime('%a, %d %b %Y') %></td>
                    <td><%= session[:discount] ? booking.calculate_total_price * 0.75 : booking.calculate_total_price %> USD</td>
                        <% session[:discount] = nil  %>
                    <td><%= link_to "Remove", booking_path(booking), method: :delete, class: "btn btn-sm btn-danger" %></td>
                  </tr>
                <%end%>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card col-lg-3 mt-5 mb-3 ml-2 h-75 d-inline-block">
          <p class="text-center my-3">Your Shopping Bag</p>
          <div class="summary-subtotal">
            <p>Subtotal: <%= @cart.calculate_total_price %></p>
            <p class="promo-title">Promotion:</p>
          </div>
          <div class="summary-total">
            <p>Total: <%= @cart.calculate_total_price %></p>
          </div>
          <div class="summary-checkout">
          <% if (@cart.checkout_session_id) %>
            <button id="pay" class="btn btn-lg btn-warning my-3">Go to Secure Checkout</button>
            <script src="https://js.stripe.com/v3/"></script>
            <script>
              var paymentButton = document.getElementById('pay');
              paymentButton.addEventListener('click', () => {
              const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
              stripe.redirectToCheckout({
              sessionId: '<%= @cart.checkout_session_id %>'
                });
              });
            </script>
          <% else %>
            <button disabled id="pay" class="btn btn-lg btn-warning my-3">Go to Secure Checkout</button>
          <% end %> 
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<div>
  <div class="text-center mb-3">
    <%= link_to "Book Another Tour", tours_path, class: "btn btn-primary" %>
  </div>
</div>
